
<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <li>
      <%= glyph_link_to( '-user', edit_user_registration_path) { current_user.email }%>
    </li>

    <li>
      <%= glyph_link_to( '-log-out', destroy_user_session_path, method: :delete) { ' Logout' } %>
    </li>

  <% else %>
    <li>
      <%= glyph_link_to( '-user', new_user_registration_path) { ' New user'} %>
    </li>

    <li>
      <%= glyph_link_to( '-log-in', new_user_session_path) { ' Login'} %>
    </li>
  <% end %>
</ul>
