<div ng-controller='PaymentsListController'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Заявки на платежи</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ng-class="{active : isActive(1)}"><a ng-click="clickMenu(1)" href="#">Все</a></li>
          <li ng-class="{active : isActive(2)}"><a ng-click="clickMenu(2)" href="#">Подписанные мной</a></li>
          <li ng-class="{active : isActive(3)}"><a ng-click="clickMenu(3)"href="#">Не подписанные мной</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>

  <section>
    <div class="row">    
      <h5 class="col-md-1">{{activeMenu}}</h5>
    </div>
    <div class='row'>
      <div class='col-md-4'>
        <table st-table="rowCollection" class="table table-striped ">
          <thead>
            <th>name</th>
            <th>age</th>
          </thead>

          <tbody>
            <tr ng-repeat="row in rowCollection">
              <td> {{row.name}} </td>
              <td> {{row.age}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </section>

</div>
