<div ng-controller='PaymentsListController'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Заявки на расход по бюджету</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
        <ul class="nav navbar-nav">
          <li ng-class="{active : isActive(1)}"><a ng-click="clickMenu(1)" href="#">Все</a></li>
          <li ng-class="{active : isActive(2)}"><a ng-click="clickMenu(2)" href="#">Подписанные мной</a></li>
          <li ng-class="{active : isActive(3)}"><a ng-click="clickMenu(3)" href="#">Не подписанные мной</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>

  <section>
    <div class="row">    
      <h5 class='col-sm-offset-2 col-sm-8 text-center page-header'> Заявки на платежи</h5>
    </div>
    <div class='row'>
      <div class='col-sm-offset-2 col-sm-8'>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th>Номер</th>
              <th>На дату</th>
              <th>Проект</th>
              <th>Сумма</th>
              <th>Утверждена</th>
              <th>Создан</th>
              <th>Изменен</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat-start="row in rowCollection">
              <td>{{row.id}}</td>
              <td>{{row.date}}</td>
              <td>{{row.project_name}}</td>
              <td>{{row.sum}}</td>
              <td>{{row.is_approved|rusBoolean}}</td>
              <td>{{row.created_at}}</td>
              <td>{{row.updated_at}}</td>
              <td>
                <button type="button" ng-click="detailReqest(row)" class="btn btn-sm btn-warning">
                  <i class="glyphicon glyphicon-indent-left">
                  </i>
                </button>
              </td>
            </tr>
            <tr ng-repeat-end >
              <td ng-if="row.id==1">+++_{{row.id}}_+++</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </section>

</div>
