<div ng-controller='PaymentsListController'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= glyph_link_to('-circle-arrow-left', root_path, class: 'navbar-brand') {'Назад'} %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
        <ul class="nav navbar-nav">
          <li ng-class="{active : isActive(1)}"><a ng-click="clickMenu(1)" href="#">Визирование</a></li>
          <li ng-class="{active : isActive(2)}"><a ng-click="clickMenu(2)" href="#">Создание и Редактирование</a></li>
        </ul>

        <%= render 'home/user_zone' %>

      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>

  <section class="container-fluid">
    <div class="row">    
      <div class='col-sm-offset-0 col-sm-12 text-center'>
        <div class='set_period' >

          <span class="label_calendar">Задать период отображения: с</span>
          <span class="input-group">
            <input 
              type="text"
              class="form-control"
              ng-model="date_from_temp"
              uib-datepicker-popup="dd.MM.yyyy"
              datepicker-options="dateOptions"
              is-open="calendar1.opened"
            >

            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open_calendar1()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>

          <span class="label_calendar">по</span>

          <span class="input-group">
            <input 
              type="text"
              class="form-control"
              ng-model="date_to_temp"
              uib-datepicker-popup="dd.MM.yyyy"
              datepicker-options="dateOptions"
              is-open="calendar2.opened"
            >

            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open_calendar2()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </span>
          <span>
            <button type="button" class="btn btn-success" ng-click="calendar_ok(date_from_temp, date_to_temp)"><i class="glyphicon glyphicon-ok"></i></button>
          </span>  
        </div>
      </div>
    </div>



    <div class="row">    
      <h5 class='col-sm-offset-2 col-sm-8 text-center page-header'> 
        Заявки на платежи. Период отображения с {{date_from | date:'dd.MM.yyyy'}} по {{date_to | date:'dd.MM.yyyy'}}
      </h5>
    </div>
    <div class='row'>
      <div class='col-sm-offset-0 col-sm-12'>
        <table 
          st-table="displayedCollection" 
          st-safe-src="rowCollection" 
          class="table table-big"
        >
          <thead class="thead-inverse">
            <tr class="info">
              <th st-sort="date" >Номер</th>
              <th st-sort="date" >На дату</th>
              <th st-sort="project_name">Проект</th>
              <th st-sort="sum">Сумма</th>
              <th st-sort="is_approved">Утверждена</th>
              <th st-sort="created_at">Создан</th>
              <th st-sort="updated_at">Изменен</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="request_row" ng-class="{'deleted': row.is_deleted}" ng-repeat-start="row in displayedCollection" >
              <td>{{row.id}}</td>
              <td>
                <input class= "form-control no_border" myEditableCell="row" ng-model="row.date"></input>
              </td>
              <td>
                <input class= "form-control no_border" myEditableCell="row" ng-model="row.project_name"></input>
              </td>
              <td>{{row.sum}}</td>
              <td>{{row.is_approved|rusBoolean}}</td>
              <td>{{row.created_at}}</td>
              <td>{{row.updated_at}}</td>
              <td>  
                <button 
                  ng-if="(row.b_payments.length>0)&&!(row.is_new||row.is_changed)"
                  type="button" 
                  ng-click="row.is_visible = !row.is_visible" 
                  class="btn btn-sm btn-info"
                >
                  <i class="glyphicon" ng-class=" {'glyphicon glyphicon-indent-left' : !row.is_visible, 'glyphicon glyphicon-triangle-left' : row.is_visible }">
                  </i>
                </button>

                <button 
                  type="button" 
                  class="btn btn-warning"
                  ng-click="addBpayment(row)"
                  ng-if="(!row.b_payments.length>0)&&!(row.is_new||row.is_changed)"
                >
                  <span class="glyphicon glyphicon-plus"></span> 
                </button>

                <button 
                  type="button" 
                  class="btn btn-success"
                  ng-click="saveRequest(row)"
                  ng-if="(row.is_new||row.is_changed)"
                >
                  <span class="glyphicon glyphicon-save"></span> 
                </button>

                <button 
                  type="button" 
                  class="btn btn-info"
                  ng-click="togglePayments(row, date_from, date_to)"
                >
                  <span ng-show="row.is_bpayments_visible!=true" class="glyphicon glyphicon-menu-left"></span>
                  <span ng-show="row.is_bpayments_visible!=true"> К статьям</span>
                  <span ng-show="row.is_bpayments_visible==true"> К платежам</span> 
                  <span ng-show="row.is_bpayments_visible==true" class="glyphicon glyphicon-menu-right"></span>                   
                </button>

                <button type="button" ng-click="removeRequest(row)" class="btn btn-sm btn-danger" >
                  <i class="glyphicon glyphicon-remove">
                  </i>
                </button>

              </td>
              
            </tr>

            <tr ng-repeat-end class="my-b_payments" >
              <td class="b_payments_section animate-show-request" colspan="8" ng-show="row.b_payments.length>0 && row.is_visible==true" >



                <bpaymentshere></bpaymentshere>
                

                <apaymentshere></apaymentshere>



              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="row">
      <div class='col-sm-offset-0 col-sm-12 text-center'>
        <button 
          type="button" 
          class="btn btn-warning"
          ng-click="addRequest(rowCollection)"
        >
          <span class="glyphicon glyphicon-plus"></span> 
        </button>
      </div>
    </div>
   
  </section>

</div>
