<div ng-controller='PaymentsListController'>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= glyph_link_to('-circle-arrow-left', root_path, class: 'navbar-brand') {'Назад'} %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
        <ul class="nav navbar-nav">
          <li ng-class="{active : isActive(1)}"><a ng-click="clickMenu(1)" href="#">Все</a></li>
          <li ng-class="{active : isActive(2)}"><a ng-click="clickMenu(2)" href="#">Подписанные мной</a></li>
          <li ng-class="{active : isActive(3)}"><a ng-click="clickMenu(3)" href="#">Не подписанные мной</a></li>
          <li ng-class="{active : isActive(4)}"><a ng-click="clickMenu(4)" href="#">Утвержденные</a></li>
          <li ng-class="{active : isActive(5)}"><a ng-click="clickMenu(5)" href="#">Не утвержденные</a></li>
        </ul>

        <%= render 'home/user_zone' %>

      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>

  <section class="container-fluid">
    <div class="row">    
      <div class='col-sm-offset-2 col-sm-8 text-center page-header set_period'> 
        <span>Задать период отображения: с</span>
        <span class="input-group">
          <input 
            type="text"
            class="form-control"
            ng-model="date_from_temp"
            uib-datepicker-popup="dd.MM.yyyy"
            datepicker-options="dateOptions"
            is-open="calendar1.opened"
          >

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_calendar1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>

        <span>по</span>

        <span class="input-group">
          <input 
            type="text"
            class="form-control"
            ng-model="date_to_temp"
            uib-datepicker-popup="dd.MM.yyyy"
            datepicker-options="dateOptions"
            is-open="calendar2.opened"
          >

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_calendar2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      </div>
    </div>



    <div class="row">    
      <h5 class='col-sm-offset-2 col-sm-8 text-center page-header'> 
        Заявки на платежи. Период отображения с {{date_from | date:'dd.MM.yyyy'}} по {{date_to | date:'dd.MM.yyyy'}}
      </h5>
    </div>
    <div class='row'>
      <div class='col-sm-offset-0 col-sm-12'>
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-big">
          <thead class="thead-inverse">
            <tr class="info">
              <th st-sort="date" >Номер</th>
              <th st-sort="date" >На дату</th>
              <th st-sort="project_name">Проект</th>
              <th st-sort="sum">Сумма</th>
              <th st-sort="is_approved">Утверждена</th>
              <th st-sort="created_at">Создан</th>
              <th st-sort="updated_at">Изменен</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="request_row" ng-repeat-start="row in displayedCollection" >
              <td>{{row.id}}</td>
              <td>{{row.date}}</td>
              <td>{{row.project_name}}</td>
              <td>{{row.sum | number:2}}</td>
              <td>{{row.is_approved|rusBoolean}}</td>
              <td>{{row.created_at}}</td>
              <td>{{row.updated_at}}</td>
              <td>  
                <button 
                  ng-disabled="!row.b_payments.length>0" 
                  type="button" 
                  ng-click="row.is_visible = !row.is_visible" 
                  class="btn btn-sm btn-warning"
                >
                  <i class="glyphicon" ng-class=" {'glyphicon glyphicon-indent-left' : !row.is_visible, 'glyphicon glyphicon-triangle-left' : row.is_visible }">
                  </i>
                </button>
              </td>
              
            </tr>

            <tr ng-repeat-end class="my-b_payments" >
              <td class="b_payments_section animate-show-request" colspan="8" ng-show="row.b_payments.length>0 && row.is_visible==true" >

                <table 
                  class="table table-sm animate-show_bpayments" 
                  ng-show="row.is_bpayments_visible==true"
                >
                  <thead>
                    <tr class="my-b_payments">
                      <th>№</th>
                      <th colspan="2">платежи по статьям:</th>
                      <th>Утв. лимит</th>
                      <th>Остаток</th>
                      <th>Необх. Сумма</th>
                      <th>Получатель</th>
                      <th>Назначение</th>
                      <th>Примечание</th>
                      <th>
                        <button 
                          type="button" 
                          class="btn btn-info"
                          ng-click="togglePayments(row)"
                        >

                          К платежам <span class="glyphicon glyphicon-menu-right"></span> 
                        </button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="my-b_payments" ng-repeat="b_payment in row.b_payments">
                      <td class="id"          >{{b_payment.id}}</td>                   
                      <td class="b_acc_number">{{b_payment.b_acc_number}}</td>                   
                      <td class="b_acc_name"  >{{b_payment.b_acc_name}}</td>                   
                      <td class="sum_allowed" >{{b_payment.sum_allowed | number:2}}</td>
                      <td class="sum_rest"    >{{b_payment.sum_rest | number:2}}</td>
                      <td class="sum"         >{{b_payment.sum | number:2}}</td>
                      <td class="recipient"   >{{b_payment.recipient}}</td>
                      <td class="detail"      >{{b_payment.detail}}</td>
                      <td class="note"        >{{b_payment.note}}</td>
                      <td class="btn"         ></td>
                    </tr>
                  </tbody>
                </table>

                <table 
                  class="table table-sm  animate-show_apayments" 
                  ng-show="row.is_bpayments_visible!=true"
                > 
                  <thead>
                    <tr class="my-a_payments">
                      <th>
                        <button 
                          type="button" 
                          class="btn btn-info"
                          ng-click="togglePayments(row)"
                        >
                          К статьям <span class="glyphicon glyphicon-menu-left"></span> 
                        </button>
                      </th>

                      <th>№</th>
                      <th>Плательщик</th>
                      <th>Счет плат.</th>
                      <th>МФО плат.</th>
                      <th>Получатель</th>
                      <th>Назначение</th>
                      <th>Счет получ.</th>
                      <th>Банк получ.</th>
                      <th>МФО получ.</th>
                      <th>ЕГРПОУ получ.</th>
                      <th>Сумма</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="my-a_payments" ng-repeat="a_payment in row.a_payments">
                      <td class="btn"   ></td>
                      <td class="id"  >{{a_payment.id}}</td>                   
                      <td class="payer"  >{{a_payment.payer}}</td>                   
                      <td class="payer_account"  >{{a_payment.payer_account}}</td>                   
                      <td class="payer_mfo"  >{{a_payment.payer_mfo}}</td>
                      <td class="recipient"  >{{a_payment.recipient}}</td>
                      <td class="detail"  >{{a_payment.detail}}</td>
                      <td class="recipient_account"  >{{a_payment.recipient_account}}</td>
                      <td class="recipient_bank"  >{{a_payment.recipient_bank}}</td>
                      <td class="recipient_mfo"  >{{a_payment.recipient_mfo}}</td>
                      <td class="recipient_egrpou"  >{{a_payment.recipient_egrpou}}</td>
                      <td class="sum"  >{{a_payment.sum | number:2 }}</td>
                    </tr>
                  </tbody>
                </table> 

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   
  </section>

</div>
