<table 
  class="table table-sm animate-show_bpayments" 
  ng-show="row.is_bpayments_visible==true"
  st-table="displayed_bp_collection" st-safe-src="row.b_payments" 
>
  <thead>
    <tr class="my-b_payments">
      <th st-sort="id" >№</th>
      <th st-sort="acc_number" colspan="2">платежи по статьям:</th>
      <th st-sort="sum_allowed" >Утв. лимит</th>
      <th st-sort="sum_rest" >Остаток</th>
      <th st-sort="sum" >Необх. Сумма</th>
      <th st-sort="recipient" >Получатель</th>
      <th st-sort="detail" >Назначение</th>
      <th st-sort="note" >Примечание</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="my-b_payments" ng-repeat="b_payment in displayed_bp_collection">
      <td class="id"          >
        <div>{{b_payment.id}}</div></td>                   
      <td class="b_acc_number">
        <input class= "form-control no_border" myEditableCell ng-model="b_payment.b_acc_number"></input></td>                   
      <td class="b_acc_name"  >
        <textarea class= "form-control no_border" myEditableCell ng-model="b_payment.b_acc_name"></textarea></td>                   
      <td class="sum_allowed" >
        <input class= "form-control no_border" myEditableCell ng-model="b_payment.sum_allowed"></input></td>
      <td class="sum_rest"    >
        <input class= "form-control no_border" myEditableCell ng-model="b_payment.sum_rest"></input></td>
      <td class="sum"         >
        <input class= "form-control no_border" myEditableCell ng-model="b_payment.sum"></input></td>
      <td class="recipient"   >
        <textarea class= "form-control no_border" myEditableCell ng-model="b_payment.recipient"></textarea></td>
      <td class="detail"      >
        <textarea class= "form-control no_border" myEditableCell ng-model="b_payment.detail"></textarea></td>
      <td class="note"        >
        <textarea class= "form-control no_border" myEditableCell ng-model="b_payment.note" ></textarea></td>
      <td>
         <button type="button" ng-click="remove_bpayment(b_payment)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-remove-circle">
            </i>
         </button>
      </td>  
    </tr>

    <tr> 

      <td colspan="9">
        <button 
          type="button" 
          class="btn btn-warning"
          ng-click="addBpayment(row)"
        >
          <span class="glyphicon glyphicon-plus"></span> 
        </button>
      </td>

    </tr>
  </tbody>
</table>