// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

.st-selected{
  background-color: #E7E7E7 !important;
}

.my-b_payments {
	font-style: italic;
	.td1 { width:3% };
	.td2 { width:3% };
	.td3 { width:13% };
	.td4 { width:3% };
	.td5 { width:3% };
	.td6 { width:3% };
	.td7 { width:23% };
	.td8 { width:23% };
	.td9 { width:23% };
	.td10 { width:3% };

}

.table-big {
	table-layout: fixed;
}

.request_row{
	td{
	  background-color: #E7E7E7 !important;
	}
}