// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.st-sort-ascent:before{
  content: '\25B2';
}

.st-sort-descent:before{
  content: '\25BC';
}

.st-selected{
  background-color: #E7E7E7 !important;
}

.my-b_payments {
	font-style: italic;
	.id { width:2% };
	.b_acc_number { width:4% };
	.b_acc_name { width:13% };
	.sum_allowed { width:6% };
	.sum_rest { width:6% };
	.sum { width:6% };
	.recipient { width:19% };
	.detail { width:23% };
	.note { width:23% };
	.btn {};

	.form-control{
		padding: 2px;
	}
}

.my-a_payments {
	font-style: italic;
	.btn {};
	.id { width:2% };
	.payer { width:10% };
	.payer_account { width:10% };
	.payer_mfo { width:5% };
	.recipient { width:10% };
	.detail { width:10% };
	.recipient_account { width:10% };
	.recipient_bank { width:10% };
	.recipient_mfo { width:10% };
	.recipient_egrpou { width:10% };
	.sum { width:5% };

	.form-control{
		padding: 2px;
	}
}


.table-big {
	table-layout: fixed;
}

.request_row{
	td{
	  background-color: #E7E7E7 !important;
	}
}

.set_period{
	font-size: 14px;
	text-align: center;

	width: 690px;
	margin: 10px auto;

	span{
		float:left;
		display: inline;
		.form-control{
			width: 75%;
		};
	};

	.label_calendar{
		padding: 10px 6px 0px 0px;
	}
};

.no_border{
  border: none !important;
  resize: none !important;
  outline: none !important;
 	box-shadow: none !important;
}